@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Raleway:100,200,300,400,600&subset=latin-ext')
html,body 
    font-family: 'Raleway', sans-serif
    font-weight: 100
    color: #ffffff
    box-sizing: border-box

    h1, h2, h3, h4, h5, h6,a
        font-family: 'Montserrat', sans-serif
        color: #ffffff
    h1     
        font-weight: 200
        font-size: 2.3rem
        letter-spacing: -1px
    
    a 
        color: #ffffff
        text-decoration: none

    